html{
  cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
  background-image: url(imagens/bg.jpg);
  background-repeat: no-repeat;
}

.mosquito1 {
  height: 40px;
  width: 40px;
}

.mosquito2 {
  height: 60px;
  width: 60px;
}

.mosquito3 {
  height: 80px;
  width: 80px;
}

.ladoA {
  transform: scaleX(1);
}

.ladoB {
  transform: scaleX(-1);
}

.painel {
  position:absolute;
  width: 190px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  border-top: solid 1px #fff;
  background-color: #fff;
  opacity: 0.8;
}

.vidas {
  float: left;
}

.cronometro {
  float: left;
  font-size: 20px;
  font-weight:  bold;
}